<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Form</title>
</head>


<body>Which is correct according to you?
    <form action="/" method='POST'>
        <input type="radio" id="Good" name="gender" value=10>
        <label for="Good">Good</label><br>
        <input type="radio" id="Bad" name="gender" value=-10>
        <label for="Bad">Bad</label><br>
        <input type="radio" id="Neutral" name="gender" value=0>
        <label for="Neutral">Neutral</label><br><br>
         
    Which is correct according to you 2nd choice?
    <br><input type="radio" id="Good" name="gender2" value=20>
        <label for="Good">Good</label><br>
        <input type="radio" id="Bad" name="gender2" value=-20>
        <label for="Bad">Bad</label><br>
        <input type="radio" id="Neutral" name="gender2" value=0>
        <label for="Neutral">Neutral</label><br>
        <br><button>
             Submit
        </button>
    </form>
</body>
</html>
