<html>
    <head>
        <title>Inkblot Test</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="../static/css/styles.css " type="text/css">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Le Médecine</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="/tests">Home  <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/doctor_list">Consult a Doctor</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/shop">Pharmacy</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/nearby">Near Me</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/prescription">Prescriptions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                  </li>
              </ul>
            </div>
          </nav>

          <h1 class="text-center">Inkblot Test</h1>
          <form action='/tests/inkblot' method='POST'>
          {% with messages = get_flashed_messages() %}
						{% if messages %}
						<div align ='center' class="container box">
								<h3>{{messages[0]}}</h3>
							</div>
						{% endif %}
					{% endwith %} 
                    <hr>
          
          <div class="container box">
          <br><div align="center">  
          <img src="../static/images/1.jpg" width=500 height=400>
          </div><br>
              <div class="row">
                  <div class="col">
                      <br>
                          <li>Which of the option, best describes the above picture according to you?
                              <ul>
                                  <li><input type="radio" value=-10 id="yes" name="1">
                                    <label for="yes">I can see evil fantastic or mythological creature-witch, devil, dragon, elf, goblin, etc.</label>
                                  </li>
                                  <li><input type="radio" value=10 id="yes" name="1">
                                    <label for="yes">Reminds me the shape of a pet animal, the face of an animal-cat, dog, bat, beetle, etc. </label>
                                  </li>
                                  <li><input type="radio" value=20 id="yes" name="1">
                                    <label for="yes">I visualize the abstract concept - love, power, friendship, loyalty, etc.</label>
                                  </li>
                                  <li><input type="radio" value=-20 id="no"name="1">
                                    <label id="no">It looks something quite scary to me</label>
                                </li>
                              </ul>
                          </li>                      
                  </div>
              </div>
          </div>
          <div class="container box">
          <br><div align="center">  
          <img src="../static/images/2.jpg" width=500 height=400>
          </div><br>
              <div class="row">
                  <div class="col">
                      <br>
                          <li>Which of the option, best describes the above picture according to you?
                              <ul>
                                  <li><input type="radio" value=-10 id="yes" name="2">
                                    <label for="yes">I can see evil fantastic or mythological creature-witch, devil, dragon, elf, goblin, etc.</label>
                                  </li>
                                  <li><input type="radio" value=10 id="yes" name="2">
                                    <label for="yes">Reminds me the shape of a pet animal, the face of an animal-cat, dog, bat, beetle, etc. </label>
                                  </li>
                                  <li><input type="radio" value=20 id="yes" name="2">
                                    <label for="yes">I visualize the abstract concept - love, power, friendship, loyalty, etc.</label>
                                  </li>
                                  <li><input type="radio" value=-20 id="no"name="2">
                                    <label id="no">It looks something quite scary to me</label>
                                </li>
                              </ul>
                          </li>                      
                  </div>
              </div>
          </div>
          <div class="container box">
          <br><div align="center">  
          <img src="../static/images/3.jpg" width=500 height=400>
          </div><br>
              <div class="row">
                  <div class="col">
                      <br>
                          <li>Which of the option, best describes the above picture according to you?
                              <ul>
                                  <li><input type="radio" value=-10 id="yes" name="3">
                                    <label for="yes">I can see evil fantastic or mythological creature-witch, devil, dragon, elf, goblin, etc.</label>
                                  </li>
                                  <li><input type="radio" value=10 id="yes" name="3">
                                    <label for="yes">Reminds me the shape of a pet animal, the face of an animal-cat, dog, bat, beetle, etc. </label>
                                  </li>
                                  <li><input type="radio" value=20 id="yes" name="3">
                                    <label for="yes">I visualize the abstract concept - love, power, friendship, loyalty, etc.</label>
                                  </li>
                                  <li><input type="radio" value=-20 id="no"name="3">
                                    <label id="no">It looks something quite scary to me</label>
                                </li>
                              </ul>
                          </li>                      
                  </div>
              </div>
          </div>
          <div class="container box">
          <br><div align="center">  
          <img src="../static/images/4.jpg" width=500 height=400>
          </div><br>
              <div class="row">
                  <div class="col">
                      <br>
                          <li>Which of the option, best describes the above picture according to you?
                              <ul>
                                  <li><input type="radio" value=-10 id="yes" name="4">
                                    <label for="yes">I can see evil fantastic or mythological creature-witch, devil, dragon, elf, goblin, etc.</label>
                                  </li>
                                  <li><input type="radio" value=10 id="yes" name="4">
                                    <label for="yes">Reminds me the shape of a pet animal, the face of an animal-cat, dog, bat, beetle, etc. </label>
                                  </li>
                                  <li><input type="radio" value=20 id="yes" name="4">
                                    <label for="yes">I visualize the abstract concept - love, power, friendship, loyalty, etc.</label>
                                  </li>
                                  <li><input type="radio" value=-20 id="no"name="4">
                                    <label id="no">It looks something quite scary to me</label>
                                </li>
                              </ul>
                          </li>                      
                  </div>
              </div>
          </div>
          <div class="container box">
          <br><div align="center">  
          <img src="../static/images/5.jpg" width=500 height=400>
          </div><br>
              <div class="row">
                  <div class="col">
                      <br>
                          <li>Which of the option, best describes the above picture according to you?
                              <ul>
                                  <li><input type="radio" value=-10 id="yes" name="5">
                                    <label for="yes">I can see evil fantastic or mythological creature-witch, devil, dragon, elf, goblin, etc.</label>
                                  </li>
                                  <li><input type="radio" value=10 id="yes" name="5">
                                    <label for="yes">Reminds me the shape of a pet animal, the face of an animal-cat, dog, bat, beetle, etc. </label>
                                  </li>
                                  <li><input type="radio" value=20 id="yes" name="5">
                                    <label for="yes">I visualize the abstract concept - love, power, friendship, loyalty, etc.</label>
                                  </li>
                                  <li><input type="radio" value=-20 id="no"name="5">
                                    <label id="no">It looks something quite scary to me</label>
                                </li>
                              </ul>
                          </li>                      
                  </div>
              </div>
          </div><br><br>


          <div align="center">
          <button class="btn btn-danger">Submit</button>          
          </div>    
            
          </form>          
          <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
          <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    </body><br><br><br><br><br><br>
</html>